APP_NAME=video-watcher
ENVIRONMENT=local
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gatestack
VIDEOWATCHER_DB_USER=videowatcher_app
VIDEOWATCHER_DB_PASSWORD=change-me
GATESTACK_API_URL=http://127.0.0.1:8000
GATESTACK_FALLBACK_URLS=http://localhost:8000,http://192.168.1.150:8000
VIDEO_WATCHER_DATA_ROOT=./data
FFMPEG_PATH=ffmpeg
DEFAULT_SAMPLE_FPS=1
LLM_PROVIDER=mock
